* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Shared */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.pixel {
    position: sticky;
    top: -40px;
    z-index: 1;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header navbar*/
.header {
    background-color: #fff;
    padding: 52px 0 12px;
}

.header .nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.header .nav .list {
    display: flex;
}

.nav .list a {
    padding: 10px 19px;
    color: #2f3a3b;
    text-align: center;
    display: inline-block;
}

.nav .list a:hover {
    font-weight: 600;
}

.nav .list a::before {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
    content: attr(title);
    font-weight: 600;
}

.nav .action {
    display: flex;
    gap: 0 24px;
}

.nav .action .btn-sub {
    cursor: pointer;
    border: none;
    font-weight: 400;
    background: transparent;
    color: #494949;
}

.nav .action .btn-sub:hover {
    font-weight: 600;
}

.nav .action .btn-sub::before {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: attr(title);
    font-weight: 600;
    display: block;
}

.nav .action .btn-nav {
    cursor: pointer;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    background: transparent;
    min-width: 108px;
    line-height: 46px;
    border: 1px solid #1ebfc1;
}

.nav .action .btn-nav:hover {
    opacity: 0.9;
}

/* Hero */
.hero {
    padding-top: 38px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .info .introduce {
    line-height: 1.77;
    margin-top: 46px;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .info .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .info .desc {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero .info .desc span {
    white-space: nowrap;
}

.hero .btn-ctn {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 0 50px;
}

.hero .btn-ctn .btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    min-width: 186px;
    line-height: 68px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .btn-ctn .btn:hover {
    opacity: 0.9;
}

.hero .btn-ctn .play a {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}

.hero .image {
    position: relative;
    background: #e0f7f6;
}

.hero .image .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .image .courses {
    position: absolute;
    top: 149px;
    right: 459px;
    gap: 16px;
    display: flex;
    align-items: center;
    border-radius: 1.8rem;
    background: #fefefe;
    padding: 17px 25px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 157px;
    height: 75px;
}

.hero .courses .title {
    line-height: 1.5;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .courses .icon::before {
    content: "";
    width: 2.8rem;
    height: 0.4rem;
    background: red;
    display: inline-block;
}

.Schedules {
    position: absolute;
    bottom: 69px;
    right: 517px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.Schedules .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.Schedules .column .icon {
    margin-top: 12px;
    display: block;
}

.Schedules .dash {
    margin: 16px auto 0;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero .join {
    position: absolute;
    bottom: 41px;
    right: 45px;
    padding: 17px 35px;
    border-radius: 2.4rem;
    background: #fefefd;
    display: inline-block;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .join .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .join .ground {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.hero .join .avt {
    background: #1ebfc1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.hero .join .avt:nth-child(2) {
    background: #ffc147;
}
.hero .join .avt:nth-child(3) {
    background: #ff947a;
}
.hero .join .avt:nth-child(4) {
    background: #bf83ff;
}

.hero .join .avt + .avt {
    margin-left: -7px;
}

/* Features */
.features {
    margin-top: 100px;
    padding: 30px 0;
}

.features .info {
    width: 52%;
}

.features strong {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.features .desc {
    margin-top: 18px;
    color: #767e7e;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

.features .row-bot {
    display: flex;
    margin-top: 80px;
}

.features .row-bot .item {
    width: 223px;
    margin-right: 200px;
}

.features .row-bot .item:last-child {
    margin-right: 0px;
}

.features .row-bot .item:first-child .icon {
    width: 102px;
    height: 106px;
    background: #ffc147;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.features .row-bot .item:nth-child(2) .icon {
    width: 102px;
    height: 106px;
    display: flex;
    background: #ff947a;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.features .row-bot .item:nth-child(3) .icon {
    width: 102px;
    height: 106px;
    background: #bf83ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.features .row-bot .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .row-bot .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

/* Courses */
.courses {
    margin-top: 70px;
    padding: 30px 0;
}

.courses .name {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses .row {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .row .desc {
    max-width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}

.courses .row .ctn {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

.courses .row .ctn:hover {
    text-decoration: underline;
}

.list-courses {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.list-courses .item {
    position: relative;
    width: calc(100% / 3);
}

.list-courses .item .thumb {
    background: #d0efed;
    height: 393px;
    border-radius: 8px;
}

.list-courses .item .thumb img {
    border-radius: 8px;
    display: block;
    opacity: 0.65;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.info-courses {
    position: absolute;
    top: 320px;
    right: 17px;
    left: 17px;
    padding: 18px 0 29px 25px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.info-courses .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.info-courses .price {
    margin-top: 16px;
    display: inline-block;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.info-courses .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.info-courses .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.info-courses .time {
    margin-top: 18px;
}

.info-courses .time span {
    display: inline-flex;
    align-items: center;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

.info-courses .time span::before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #1ebfc1;
    margin-right: 10px;
}

/* Data */
.data {
    margin-top: 330px;
    padding: 30px 0;
}

.data .list {
    display: flex;
    justify-content: space-evenly;
}

.data .list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.data .list .value {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.data .list .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

/* Feedback */

.feedback {
    margin-top: 234px;
}

.feedback .body {
    display: flex;
    overflow: hidden;
}

.feedback .list {
    justify-content: space-between;
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback .info {
    padding: 40px 0;
    width: 36%;
}

.feedback .image {
    position: relative;
    width: 58%;
}

.feedback .desc {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.feedback .name {
    display: inline-flex;
    align-items: center;
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback .name::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback .name strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feedback .ctn-icon {
    display: flex;
    margin-top: 52px;
    gap: 0 30px;
}

.feedback .ctn-icon .icon {
    border: 2px solid #2ac9bf;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
}

.feedback .ctn-icon .icon:hover {
    background: #fff;
    color: #2ac9bf;
}

.feedback .image .avt:nth-child(1) {
    object-fit: cover;
    position: absolute;
    top: 258px;
    left: 0px;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #ffc147;
}

.feedback .image .avt:nth-child(2) {
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 144px;
    background: #1ebfc1;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.feedback .image .avt:nth-child(3) {
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    left: 212px;
    background: #ff947a;
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.feedback .image .avt:nth-child(4) {
    object-fit: cover;
    position: absolute;
    bottom: 139px;
    left: 273px;
    background: #ff8282;
    width: 235px;
    height: 235px;
    border-radius: 50%;
}

.feedback .image .avt:nth-child(5) {
    object-fit: cover;
    position: absolute;
    top: 360px;
    right: 32px;
    background: #bf83ff;
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.feedback .image .avt:nth-child(6) {
    object-fit: cover;
    position: absolute;
    top: 19px;
    right: 0px;
    background: #bf83ff;
    width: 111px;
    height: 111px;
    border-radius: 50%;
}

.about {
    margin-top: 130px;
    background: #def6f5;
}

.about .body {
    display: flex;
    padding: 76px 0 88px;
    align-items: center;
}

.about .info {
    width: 36%;
    margin-right: 410px;
}

.about .body .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: normal;
}

.about .info .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.about .body .btn {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    min-width: 186px;
    border-radius: 14px;
    background: #2ac9bf;
    line-height: 68px;
}

.about .body .btn:hover {
    opacity: 0.9;
}

/* Footer */
.list-footer {
    padding-top: 131px;
    display: flex;
    justify-content: space-between;
}

.list-footer .column {
    width: 17%;
}

.list-footer .column .title {
    color: #0d1111;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.list-footer .column li > a {
    display: inline-block;
    margin-top: 18px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.list-footer .column li:nth-child(2) a {
    margin-top: 25px;
}

.footer .column .icon {
    display: flex;
    margin-top: 18px;
    align-items: center;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.footer .column .social {
    margin-right: 9px;
}

.copyright {
    padding: 80px 0 50px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
